<table class="tb tb2 ">
    <tr>
        <th colspan="15" class="partition">{lang abis_shops:about}
    </tr>
    <tr>
        <td  style="width:120px">
            {lang abis_shops:thistitleval}
        </td>
        <td>
            {lang abis_shops:thistitle}
        </td>
    </tr>
     <tr>
        <td>
            {lang abis_shops:thiscopyrightval}
        </td>
        <td>
            {lang abis_shops:thiscopyright}
        </td>
    </tr>
     <tr>
        <td>
            {lang abis_shops:thisurlval}
        </td>
        <td>
            <a href="{lang abis_shops:thisurl}" target="_blank">{lang abis_shops:thisurl}</a>
        </td>
    </tr>
    <tr>
        <td>
            {lang abis_shops:thisverdateval}
        </td>
        <td>
            {lang abis_shops:thisverdate}
        </td>
    </tr>
    <tr>
        <td>
            {lang abis_shops:thissyb}
        </td>
        <td>
            <a href="{lang abis_shops:thissyburl}" target="_blank">{lang abis_shops:thissyburl}</a>
        </td>
    </tr>
    
         <tr>
        <td>
            {lang abis_shops:thissybsm}
        </td>
        <td>
            {lang abis_shops:thissybmemo}
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            <b>{lang abis_shops:thistabao}</b>: <a href="{lang abis_shops:thistabaourl}" target="_blank">{lang abis_shops:thistabaourl}</a>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>
            <b>{lang abis_shops:QQ}</b>
        </td>
    </tr>
         
</table>

<table class="tb tb2 ">
    <tr>
        <th colspan="15" class="partition">{lang abis_shops:about_title}
		<a href="http://weibo.com/u/2057528915" target="_blank"><b>{lang abis_shops:abis_shops_weibo}</b></a>
            <a href="{lang abis_shops:abis_shops_url}" target="_blank"><b>{lang abis_shops:abis_shops_title}</b></a>

        </th>

    </tr>
</table>


<table class="tb2 ">
    <tr class="header">
        <td>{lang abis_shops:adminshout}
        </td>
        <td>
        </td>
        <td></td>
    </tr>
</table>
<table class="tb tb2 ">
    <script type="text/javascript" src="http://www.pgirl.cn/api.php?mod=js&bid=340"></script>
</table>
<table class="tb tb2 ">
    <tr class="header">
        <td>
            <a href="{lang abis_shops:abis_shops_url}" target="_blank"><b>{lang abis_shops:about_title_footer}</b></a>
        </td>
    </tr>
</table>
