<link rel="stylesheet" type="text/css" href="{PLUGIN_DIR}/CSS/main.css" />
<p class="bm2_b bw0 hm" style="padding-top:100px">
    <!--{if $binded}-->
        <a href="plugin.php?id={IDENTIFIER}:oath2&op=unbind"><img src="{PLUGIN_DIR}/Image/disbind.png" align="absmiddle" style="cursor:pointer"></a><br>
        <span class="mtn xg1"><!--{$bindedtip}--> : {$rs['taobao_name']}</span>
    <!--{else}-->
        <a href="plugin.php?id={IDENTIFIER}:oath2&op=init"><img src="{PLUGIN_DIR}/Image/login-long.png" align="absmiddle" style="cursor:pointer"></a><br>
        <span class="mtn xg1">{lang dps_xtao:user_set_nav_bind}</span>
    <!--{/if}-->
</p>
<!--{eval error_reporting($olderrlevel);}-->