<div class="mainbody">
<div class="mainbody1000">
<div class="shopleft">
<div class="shopmessage">
	<div class="shopname">
		<h3><A class="dd_shop_jump" href="" <?php/*echo $login_click*/ ?> target=_blank><?php/* echo $shop['title']*/ ?></A></h3>
	</div>
	<div class="shoplogo">
		<div class="shoplogo-img"><?php /*echo  html_img($shop['logo'], 0, $shop['title'], '', 80, 80, $shop['onerror']) */?></div>
		<div class="shoplogo-font"><p>平均:</p>								<h3 id="shopFxbl"></h3></div>
	</div>
	<div class="shoptxt">
		<p>掌柜名称：<a class="dd_shop_jump" href="" <?php /*echo  $login_click */?> target="_blank"><?php /*echo  $shop['nick'] */?></a></p>
		<p>店铺信誉：<span class="shoptxt-img"><img src="images/level_<?php /*echo  $shop['level'] */?>.gif"></span></p>
		<p id="goodsnum">宝贝数量：</p>							<p>创店时间：<?php /*echo  date('Y-m-d', strtotime($shop['created'])) */?></p>
		<b>店铺动态评分</b>
		<div class="shoptxt-dt">
			<DIV class=title>宝贝与描述相符：</DIV>
			<DIV class=xx3>
				<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5bx.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 19px" title="<?php /*echo  $shop['item_score'] */?>分">
					<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5hx.gif) 0px 0px; HEIGHT: 19px; width:<?php /*echo  $shop['item_score'] * 20 */?>px">
					</DIV>
				</DIV>
			</DIV>
		</div>
		<div class="shoptxt-dt">
			<DIV class=title>卖家的服务态度：</DIV>
			<DIV class=xx3>
				<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5bx.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 19px" title="<?php /*echo  $shop['service_score'] */?>分">
					<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5hx.gif) 0px 0px; HEIGHT: 19px; width:<?php /*echo  $shop['service_score'] * 20 */?>px">
					</DIV>
				</DIV>
			</DIV>
		</div>
		<div class="shoptxt-dt">
			<DIV class=title>卖家发货的速度：</DIV>
			<DIV class=xx3>
				<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5bx.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 19px" title="<?php /*echo  $shop['delivery_score'] */?>分">
					<DIV style="WIDTH: 100px; BACKGROUND: url(TPLURL/images/5hx.gif) 0px 0px; HEIGHT: 19px; width:<?php /*echo  $shop['delivery_score'] * 20 */?>px">
					</DIV>
				</DIV>
			</DIV>
		</div>
		<div class="shopbutton">
			<A class="dd_shop_jump" href="" <?php /*echo  $login_click */?> target=_blank>
			<DIV class=shop_button1 onMouseOver="this.className='shop_button1_h';" onmouseout="this.className='shop_button1';"></DIV>
			</A>
		</div>
	</div>
</div>
<!--		<script>
<!--			function showShopInfo() {-->
<!--				--><?php
//				$parame['seller_nicks']=$nick;
//				php2js_array($jssdk_shops_convert,'parame');
//				echo "taobaoTaobaokeWidgetShopsConvert(parame);\r\n";
//				?>
<!--			}-->
<!--			--><?php //if(MOD=='tao' && ACT=='shop'){?>
<!--			showShopInfo();-->
<!--			--><?php //}?>
<!--			commentUrl = '';-->
<!--			function ddShowShopInfo(shopsInfo) {-->
<!--				if(shopsInfo['level'] > 0) {-->
<!--					$('.shopmessage #shopFxbl').html(shopsInfo['fxbl'] + '%');-->
<!--					$('.shopmessage .shoptxt-img img').attr('src', 'images/level_' + shopsInfo['level'] + '.gif');-->
<!--					$('.shopmessage #goodsnum').html('宝贝数量：' + shopsInfo['auction_count']);-->
<!--					$('.dd_shop_jump').attr('href', shopsInfo['jump']);-->
<!--					--><?php //if(MOD=='tao' && ACT=='shop'){?>
<!--					var str;-->
<!--					var goodsUrl = '--><?php /*echo SITEURL*/?><!--/index.php?mod=ajax&act=shop_items_get&uid=' + shopsInfo['user_id'] + '&nick=' + encodeURIComponent(shopsInfo['seller_nick']) + '&taoke=' + shopsInfo['taoke'] + '&level=' + shopsInfo['level'];-->
<!--					$.ajax({-->
<!--						url: goodsUrl,-->
<!--						dataType: 'jsonp',-->
<!--						jsonp: "callback",-->
<!--						cache: false,-->
<!--						success: function(data) {-->
<!--							if(isEmpty(data)) {-->
<!--								tpl = '暂无商品';-->
<!--							}-->
<!--							else {-->
<!--								tpl = getTplObj(html_tpl_--><?php /*echo $list*/?><!--, data);-->
<!--							}-->
<!--							$('#splistbox ul').append(tpl);-->
<!--						}-->
<!--					});-->
<!--					--><?php //}?><!--					--><?php //if(MOD=='tao' && ACT=='view'){?>
<!--					commentUrl = '--><?php /*echo $comment_url*/?><!--' + shopsInfo['user_id'];-->
<!--					--><?php //}?>
<!--				}-->
<!--			}--><!--			function html_tpl_1() {/*<li class="info">-->
<!--			 <div class="goodslist_main_left">-->
<!--			 <div class="goodslist_main_left_img"><a class="taopic" href="{$gourl}" target="_blank" pic="{$pic_url_base64_encode}"><img src="{$pic_url}" /></a></div>-->
<!--			 <div class="goodslist_main_left_bt title"><a target="_blank" href="{$gourl}">{$title}</a></div>-->
<!--			 <div class="goodslist_main_left_sell"><p>本期已售出<span>{$commission_num} </span>件 <img alt="等级" src="images/level_{$shoplevel}.gif" align="absmiddle" /> </p> </div>-->
<!--			 <div class="goodslist_main_left_seller"><p>卖家：<A href="{$go_shop}" target=_blank title="逛逛{$nick}的店铺">{$nick}</a> {$wangwang_nick}</p>-->
<!--			 </div>-->
<!--			 </div>-->
<!--			 <div class="goodslist_main_right">-->
<!--			 <div class="goodslist_main_right_price">-->
<!--			 <p class="price">淘宝价：<span>{$price}</span> 元 </p>-->
<!--			 <p class="fxje" title="-->
<!--				--><?php /*echo TBFLTIP*/?><!--"> 可返<span class="greenfont">{$fxje}</span>-->
<!--				--><?php /*echo TBMONEYUNIT*/?><!----><?php /*echo TBMONEY*/?><!-- </p>-->
<!--				 <p>&nbsp;<a target="_blank" href="{$go_view}">详情</a></p>-->
<!--				 <p id="{$num_iid}" class="tbcuxiao" style="clear:both; margin-top:5px; width:150px;"></p>-->
<!--				 </div>-->
<!--				 <div style="clear:both"></div>-->
<!--				 <div class="goodslist_main_right_tb">-->
<!--				 <a target="_blank" href="{$tao_list_url}"><div class="goodslist_main_right_bj"></div></a>-->
<!--				 <a target="_blank" rel="nofollow" href="{$jump}"><div class="goodslist_main_right_buy">去淘宝购买</div></a>-->
<!--				 </div>-->
<!--				 </div>-->
<!--				 </li>*/-->
<!--				;-->
<!--			}-->
<!--			function html_tpl_2() {/*<li class="info" style=" height:390px">-->
<!--			 <div class="goodslist_main_left_img_2"><a href="{$gourl}" target="_blank"><img src="{$pic_url}" style=" width:160px; height:160px" /></a></div>-->
<!--			 <div class="goodslist_main_left_bt_2 title"><a target="_blank">{$title}</a></div>-->
<!--			 <div class="goodslist_main_left_xy_2"><p>卖家信用：<img alt="等级" src="images/level_{$shoplevel}.gif" align="absmiddle" /></p> </div>-->
<!--			 <div class="goodslist_main_left_seller_2"><p>卖家：<A href="{$go_shop}" target=_blank title="逛逛{$nick}的店铺">{$nick}</a> {$wangwang_nick}</p>-->
<!--			 </div>-->
<!--			 <p class="price">淘宝价：<span>{$price}</span> 元 </p>-->
<!--			 <p class="tbcuxiao">淘宝热卖商品</p>-->
<!--			 <p class="fxje" title="-->
<!--				--><?php /*echo TBFLTIP*/?><!--"> 可返：<span class="greenfont">{$fxje}</span>-->
<!--				--><?php /*echo TBMONEYUNIT*/?><!----><?php /*echo TBMONEY*/?><!-- </p>-->
<!--				 <div class="goodslist_main_right_tb_2">-->
<!--				 <a rel="nofollow" href="{$jump}" target="_blank" ><div class="goodslist_main_right_buy">去淘宝购买</div></a>-->
<!--				 </div>-->
<!--				 </li>*/-->
<!--				;-->
<!--			}-->
<!--		</script>-->
<!--		--><?php //if(WEBTYPE == 1) { ?>
<!--			--><?php //if(TAOTYPE == 1) { ?>
<?php //$tuijian_goods = $dd_tao_class->dd_tao_goods(array('num' => 5, 'cid' => 'a'));?>
<!--				<div class="shopxiangguan">-->
<!--					<div class=hot_head_goods>-->
<!--						<span>精品推荐</span>-->
<!--					</div>-->
<!--					<ul>-->
<!--						--><?php //foreach($tuijian_goods as $row) { ?>
<!--							<li>-->
<!--								<a target="_blank" href="--><?php /*echo  $row['go_view'] */?><!--">-->
<!--									--><?php /*echo  html_img($row["pic_url"], 2, $row["title"], '', 160, 160) */?>
<!--								</a>-->
<!--								<p>--><?php /*echo  $row['title'] */?><!--</p>-->
<!--								<p><span>淘宝价:￥--><?php /*echo  $row['price'] */?><!-- 元</span></p>-->
<!--								<p>返：<b>--><?php /*echo  $row['fxje'] */?><!--</b>--><?php /*echo  TBMONEYUNIT */?><!----><?php /*echo  TBMONEY */?>
<!--								</p>-->
<!--							</li>-->
<!--						--><?php //} ?>
<!--					</ul>-->
<!--				</div>-->
<!--			--><?php //} else { ?>
<!--				<div class="shopxiangguan">-->
<!--					<ul>-->
<!--						--><?php //foreach($goods2 as $row) { ?>
<!--							<li>-->
<!--								<a target="_blank" href="--><?php /*echo  u('tao', 'view', array('iid' => $row["num_iid"])) */?><!--">--><?php /*echo  html_img($row["pic_url"], 2, $row['name']) */?><!--</a>-->
<!--								<p>--><?php /*echo  $row['name'] */?><!--</p>-->
<!--								<p><span>淘宝价:￥--><?php /*echo  $row['price'] */?><!-- 元</span></p>-->
<!--								<p>返：<b>--><?php /*echo  $row['fxje'] */?><!-- </b>--><?php /*echo  TBMONEYUNIT */?><!----><?php /*echo  TBMONEY */?><!--</p></li>-->
<!--						--><?php //} ?>
<!--					</ul>-->
<!--				</div>-->
<!--			--><?php //} ?>
<!--		--><?php //} ?>
<!--	</div>-->
<!--	<div class="shopright">-->
<!--	<div class="shopitem">-->
<!--	<h3>--><?php /*echo  $goods['title'] */?><!----><?php //if(TAOTYPE == 2) { ?><!--&nbsp;&nbsp;-->
<!--			<span style="font-size:12px; font-family:宋体">【<a style="color:#F60;" href="--><?php /*echo  u('tao', 'list', array('cid' => 0, 'q' => $goods['title'])) */?><!--" target="_blank">查看同款商品</a>】-->
<!--			</span>--><?php //} ?><!--</h3>-->
<!--	<div class="shopitem_main">-->
<!--		<div class="shopitem_main_l">-->
<!--			<a class="jumpa" --><?//= TAOTYPE == 1 ? 'a' : '' ?><!--href="--><?php /*echo  $goods['jump'] */?><!--" --><?php /*echo  $login_click */?><!-- target="_blank">--><?php /*echo  html_img($goods['pic_url'], 3, $goods['title']) */?><!--</a>-->
<!--		</div>-->
<!--		<div class="shopitem_main_r">-->
<!--			<div class="shopitem_main_r_1"><img src="images/baozhang.gif"></div>--><!--			<div class="shopitem_main_r_3">-->
<!--				<span id="price_name" style="font-family:宋体">--><?php /*echo  $price_name */?><!--</span>：<span class="price"> --><?php /*echo  $goods['price'] */?><!--</span> 元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="yuanjia" style="display:none">原价：<span style="text-decoration:line-through">--><?php /*echo  $goods['price'] */?><!--</span> 元</span>-->
<!--			</div>-->
<!--			<div class="shopitem_main_r_3">-->
<!--				<span id="zuigaofan" title="--><?php /*echo  TBFLTIP */?><!--">最高返：</span><span id="nofan"><span class="price dd_fxje"><img src="-->TPLURL<!--/images/wait3.gif" alt="--><?php /*echo  TBMONEY */?><!--计算中"/></span>--><?php /*echo  TBMONEYUNIT */?><!----><?php /*echo  TBMONEY */?>
<!--					<span id="ksq">（可省<b style="font-size:16px; color:#F30"><img src="-->TPLURL<!--/images/wait3.gif" alt="省钱计算中"/></b>元）</span></span>-->
<!--			</div>--><!--			--><?php //if($tao_coupon_str == '') { ?>
<!--				<div class="shopitem_main_r_3">商品数量： --><?php /*echo  $goods['num'] */?><!-- 件</div>-->
<!--			--><?php //} else { ?>
<!--				--><?php /*echo  $tao_coupon_str */?>
<!--			--><?php //} ?><!--			<div class="shopitem_main_r_3">运费承担： --><?php /*echo  $goods['freight_payer'] */?><!--</div>--><!--			<div class="shopitem_main_r_3">所在地区： --><?php /*echo  $goods['location']['state'] */?><!-- --><?php /*echo  $goods['location']['city'] */?><!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新旧程度： --><?php //if($goods['stuff_status'] == 'new') {
//					echo "全新";
//				}
//				if($goods['stuff_status'] == 'unused') {
//					echo "闲置";
//				}
//				if($goods['stuff_status'] == 'second') {
//					echo "二手";
//				} ?><!-- --><?php //if($goods['has_invoice'] == 'true') {
//					echo "有发票";
//				} ?><!-- </div>-->
<!--			<div class="shopitem_main_r_3">掌柜名称： --><?php /*echo  $goods['nick'] */?><!-- --><?php /*echo  wangwang($goods['nick']) */?><!-- </div>-->
<!--			<div class="shopitem_main_r_5">温馨提示：<span> 虚拟商品如话费，游戏，机票等无返利哦！</span></div>-->
<!--			<div class="shopitem_main_r_4">-->
<!--				<a --><?php //if($webset['taoapi']['fanlitip'] == 1) { ?><!-- class="fanlitip jumpa"--><?php //} else { ?><!-- class="jumpa"--><?php //} ?><!-- id="clickUrl" --><?//= TAOTYPE == 1 ? 'a' : '' ?><!--href="--><?php /*echo  $goods['jump'] */?><!--" --><?php /*echo  $login_click */?><!-- target="_blank"><img alt="立刻去购买" src="-->TPLURL<!--/images/gomai.gif"/></a><a --><?php /*echo  $login_click */?><!-- class="dd_shop_jump" style="cursor:pointer" target="_blank"><img alt="逛逛掌柜店铺" src="-->TPLURL<!--/images/gozhanggui.gif"/></a>-->
<!--			</div>-->
<!--			<div class="shopitem_main_r_6"><p>宝贝分享：</p>--><!--				<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone">QQ</a>-->
<!--					<a title="分享到新浪微博" class="bshare-sinaminiblog">新浪</a>-->
<!--					<a title="分享到人人网" class="bshare-renren">人人</a>-->
<!--					<a title="分享到腾讯微博" class="bshare-qqmb">腾讯</a>-->
<!--					<a title="更多平台" class="bshare-more bshare-more-icon"></a><span class="BSHARE_COUNT bshare-share-count">0</span>-->
<!--				</div>-->
<!--				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=--><?php /*echo  $webset['bshare']['uuid'] */?><!--&amp;pophcol=2&amp;lang=zh"></script>-->
<!--				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<script>-->
<!--		var num_iid = '--><?php /*echo $iid*/?><!--';-->
<!--		function ddShowFxje(taobaokeItem) {-->
<!--			ddFxje = taobaokeItem.ddFxje;-->
<!--			--><?php //if(TAOTYPE==1){?>
<!--			$('.jumpa').each(function() {-->
<!--				$(this).attr('href', $('.jumpa').attr('ahref'));-->
<!--			});-->
<!--			--><?php //}?>
<!--			promotion_price = taobaokeItem.promotion_price;-->
<!--			if(promotion_price <--><?php /*echo $goods['price']*/?><!-- && promotion_price > 0) {-->
<!--				$('.shopright .shopitem_main_r_3 #price_name').html('<span class="tbcuxiao"><i>--><?php /*echo $promotion_name*/?><!--</i></span>');-->
<!--				$('.shopright .shopitem_main_r_3 .price').html(promotion_price);-->
<!--				$('.shopright .shopitem_main_r_3 #yuanjia').show();-->
<!--				$('.shopright .shopitem_main_r_3 #zuigaofan').html('折后最高返：');-->
<!--				--><?php //if(TAOTYPE==2){?>
<!--				var reg = new RegExp("&price=(.*)&name", "gi");-->
<!--				var url = '--><?php /*echo $goods['jump']*/?><!--';-->
<!--				url = url.replace(reg, '&price=' + promotion_price + '&name');-->
<!--				$('#clickUrl').attr('href', url);-->
<!--				--><?php //}?>
<!--			}-->
<!--			if(ddFxje > 0) {-->
<!--				var clickUrl = $('#clickUrl').attr('href') + '&fan=';-->
<!--				$(".shopright .shopitem_main_r_3 .dd_fxje").html(ddFxje);-->
<!--				$(".shopright .shopitem_main_r_3 #ksq b").html(dataType(ddFxje / MONEYBL, 2));-->
<!--				--><?php //if(TAOTYPE==2){?>
<!--				$(".shopright .shopitem_main_r_4 #clickUrl").attr('href', clickUrl + ddFxje);-->
<!--				$(".shopright .shopitem_main_l a").attr('href', clickUrl + ddFxje);-->
<!--				$('.shopitem .goodscomment .pingjia .pingjia_more a').attr('href', clickUrl + ddFxje);-->
<!--				--><?php //}?>
<!--			}-->
<!--			else {-->
<!--				$(".shopright .shopitem_main_r_3 #nofan").css('font-size', '14px').css('color', 'red').html('<b>该商品暂无返利</b>');-->
<!--			}-->
<!--			$('#shopit_txt .shopit_txt_ms').show();-->
<!--			showShopInfo();-->
<!--		}-->
<!--	</script>-->
<!--	--><?php //include(DDROOT.'/comm/jssdk.php'); ?>
<!--	<script>-->
<!--		var ddJssdkCallBackOk = 0;-->
<!--		function ddJssdkCallBack() {-->
<!--			if(ddJssdkCallBackOk == 0) {-->
<!--				ddJssdkCallBackOk = 1;-->
<!--				--><?php
//				if(in_array($jssdk_items_convert['cid'],$virtual_cid['goods'])){ //虚拟商品返利强制为0
//					echo 'ddShowFxje(0);';
//				}
//				else{
//					php2js_array($jssdk_items_convert,'parame');
//					echo "taobaoTaobaokeWidgetItemsConvert(parame);";
//				}
//				?>
<!--				clearInterval(checkKeyIntervalId);-->
<!--			}-->
<!--			else {-->
<!--				clearInterval(checkKeyIntervalId);-->
<!--			}-->
<!--		}--><!--		checkKeyTime = 0;--><!--		function checkKey() {-->
<!--			if(checkKeyTime == 30) {-->
<!--				clearInterval(checkKeyIntervalId);-->
<!--			}-->
<!--			else {-->
<!--				checkKeyTime++;-->
<!--				if(typeof JSSDK_TIME != 'undefined') {-->
<!--					ddJssdkCallBack();-->
<!--				}-->
<!--			}-->
<!--		}--><!--		var checkKeyIntervalId = setInterval("checkKey()", 500);--><!--		$(".shopright .shopitem_main_l").imgAutoSize(310, 310);-->
<!--		function suanfanli(v) {-->
<!--			f = fan * v / price;-->
<!--			$('#jumpbox .text_f').text(dataType(f, --><?php /*echo TBMONEYTYPE*/?><!--));-->
<!--		}-->
<!--		$(function() {-->
<!--			--><?php //if($webset['taoapi']['fanlitip']==1 && TAOTYPE==2){?>
<!--			$('.shopright .shopitem_main_r .fanlitip').jumpBox({-->
<!--				title: '这是您刚刚查看的商品：',-->
<!--				titlebg: 1,-->
<!--				LightBox: 'show',-->
<!--				easyClose: 0,-->
<!--				jsCode: "param2=parse_str(ajaxUrl);pic_url=decode64(param2['pic']);title='--><?php /*echo $goods['title']*/?><!--';if(typeof param2['promotion_price']!='undefined'){price=param2['promotion_price']}else{price=param2['price']};fan=param2['fan'];contain = contain.replace(/{pic_url}/, pic_url).replace(/{title}/, title).replace(/{price}/, price).replace(/{back}/, fan);",-->
<!--				contain: '<div class="alert_go_tao"><div class="info"><table width=""border="0"><tr><td width="62"rowspan="3"><div class="pic"><img src="{pic_url}"/></div></td><td width="219"><span class="tit">{title}</span></td></tr><tr><td><span class="price">淘宝价格：{price}元</span><span class="fan">　返：{back}--><?php /*echo TBMONEY*/?><!--</span></td></tr><tr><td><span class="price_r">实付价格：</span><input type="text"class="text_p"value=""  onkeyup="suanfanli(this.value)"/><span class="fan_r">实返：</span><span class="text_f">？</span></td></tr></table><div style="clear:both"></div><div class="alert_notice"><em></em><div class="notice_content">输入最终购买价格(不含邮费)，算一下最终返--><?php /*echo TBMONEY*/?><!--有多少？</div></div></div><p><span>●</span><a>虚拟商品无返利</a><span>●</span><a>实际返利与成交价有关</a><span>●</span><a>确认收货后才能查询返利</a></p><div style=" margin-top:3px"><a href="--><?php /*echo u('help','index')*/?><!--' +-->
<!--					'" style="color:#03F" target="_blank">●用“--><?php /*echo WEBNICK*/?><!--”去“淘宝网”购物 省钱方法详解【点击】</a></div></div>',-->
<!--				height: 240,-->
<!--				width: 520,-->
<!--				a: 1-->
<!--			});-->
<!--			--><?php //}?>
<!--			--><?php //if($webset['taoapi']['goods_comment']==1){?>
<!--			$('#shopit_txt a').click(function() {-->
<!--				$('#shopit_txt ul li').addClass('shopit_xz');-->
<!--				$(this).parent('li').removeClass('shopit_xz');-->
<!--				vdo = $(this).attr('do');--><!--				if(vdo == 'desc') {-->
<!--					$('#shopit_txt .shopit_txt_ms').show();-->
<!--					$('.goodscomment').hide();-->
<!--					return true;-->
<!--				}-->
<!--				else if(vdo == 'comment') {-->
<!--					$('#shopit_txt .shopit_txt_ms').hide();-->
<!--					$('.goodscomment').show();-->
<!--				}--><!--				if(commentUrl == '') {-->
<!--					alert('评论地址加载中，请稍后再试');-->
<!--					return true;-->
<!--				}-->
<!--				$.ajax({-->
<!--					url: '--><?php /*echo u('ajax','goods_comment')*/?><!--',-->
<!--					data: {'comment_url': commentUrl},-->
<!--					dataType: 'jsonp',-->
<!--					jsonp: "callback",-->
<!--					success: function(data) {-->
<!--						if(data.rateListInfo.paginator.items > 0) {-->
<!--							var commentScore = parseFloat(data.scoreInfo.merchandisScore);  //评价得分-->
<!--							var commentItems = parseInt(data.rateListInfo.paginator.items);  //评价数量-->
<!--							var commentTotal = parseInt(data.scoreInfo.merchandisTotal);  //评价总次数-->
<!--							num = commentScore * 10;-->
<!--							x2 = Math.floor(num % 10);-->
<!--							num /= 10;-->
<!--							x1 = Math.floor(num % 10);-->
<!--							$('.pingjianum').html(commentItems);-->
<!--							$('#pjdfnum').html(commentTotal);-->
<!--							$('.ajaxpjdf').html(commentScore);-->
<!--							var biaochi = parseInt(commentScore / 5 * 380);-->
<!--							$('#biaochi').css('margin-left', biaochi + 'px');-->
<!--							$('#getpling').hide();-->
<!--							$('#plcontent').show();-->
<!--							$('.goodscomment .ov5hx').css('width', commentScore * 20)-->
<!--							jsonData = data.rateListInfo.rateList;-->
<!--							c = jsonData.length;-->
<!--							for(var i = 0; i < c; i++) {-->
<!--								if(jsonData[i]['displayRatePic'] == '') jsonData[i]['displayRatePic'] = 'b_red_1.gif';-->
<!--								jsonLi = '<li><div class="commnetleft">' + jsonData[i]['rateContent'] + '<br><span>[' + jsonData[i]['rateDate'] + ']</span></div><div class="commnetright">买家：' + jsonData[i]['displayUserNick'] + '<br><img src="images/' + jsonData[i]['displayRatePic'] + '" /></div></li>';-->
<!--								$('#comment').append(jsonLi + '<div style="clear:both"></div>');-->
<!--							}-->
<!--						}-->
<!--						else {-->
<!--							alert('评论加载失败');-->
<!--						}-->
<!--					}-->
<!--				});-->
<!--			});-->
<!--			--><?php //}?>
<!--		});--><!--	</script>-->
<!--	<div class="shopit_txt">-->
<!--		<ul>-->
<!--			<li><a href="--><?php /*echo  u('tao', 'jiu') */?><!--">九元购包邮</a></li>-->
<!--		</ul>-->
<!--		<div class="shopit_txt_ms">-->
<!--			<script>iframe('--><?php /*echo DD_YUN_URL*/?><!--/index.php?m=shuju&a=jiu&ad=1&cid=--><?php /*echo $goods['cid']*/?><!--&url=--><?php /*echo urlencode(u('tao','view',array('iid'=>99999999)))*/?><!--', 720, 260)</script>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="shopit_txt" id="shopit_txt">-->
<!--		<ul>-->
<!--			--><?php //if(WEBTYPE == 1) { ?>
<!--				<li><a do='desc'>宝贝描述</a></li>-->
<!--			--><?php //} ?>
<!--			--><?php //if($webset['taoapi']['goods_comment'] == 1) { ?>
<!--				<li class="shopit_xz"><a id="pjan" do="comment" url="">商品评价</a></li>-->
<!--			--><?php //} ?>
<!--		</ul>-->
<!--		<div class="shopit_txt_ms" style="display:none">--><?php /*echo  $goods['desc'] */?><!--</div>-->
<!--	</div>-->
<!--	<div class="goodscomment" style=" display:none">-->
<!--		<div class="pjdf">-->
<!--			<div class="pjleft">-->
<!--				<ul>-->
<!--					<li class="pjfs">店铺的“宝贝与描述相符”得分</li>-->
<!--					<li class="pjfs2">-->
<!--						<div style="float:left">-->
<!--							<font class="ajaxpjdf" style="font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FF6600">5.0</font> 分-->
<!--						</div>-->
<!--						<div style="float:left">-->
<!--							<DIV class=xx3 style="padding-top:5px">-->
<!--								<DIV class="bg5bx">-->
<!--									<DIV class="ov5hx" style="WIDTH: 100px;"></DIV>-->
<!--								</DIV>-->
<!--							</DIV>-->
<!--						</div>-->
<!--						<div style="clear:both"></div>-->
<!--					</li>-->
<!--					<li class="gdf">(共打分 <font id="pjdfnum" color="#FF6600">100</font> 次)</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--			<div class="pjright">-->
<!--				<ul>-->
<!--					<li style="width:380px; height:20px; margin-top:21px;">-->
<!--						<div id="biaochi" style="width:28px; height:21px; background:url(template/--><?php /*echo  MOBAN */?><!--/images/pjfs.gif); margin-left:370px; text-align:center;">-->
<!--							<font class="ajaxpjdf" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff">4.5</font>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li style="background:url(template/--><?php /*echo  MOBAN */?><!--/images/rate_scroller_bar.png) no-repeat; width:400px; height:20px;"></li>-->
<!--					<li style=" width:420px; background:url(template/--><?php /*echo  MOBAN */?><!--/images/pjfssm.gif) no-repeat; height:45px;"></li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>--><!--		<div class="pingjia">-->
<!--			<div class="pingjia_bt">-->
<!--				<div class="pingjia_bt_l">-->
<!--					评论-->
<!--				</div>-->
<!--				<div class="pingjia_bt_r">-->
<!--					评价人-->
<!--				</div>-->
<!--			</div>-->
<div id="comment"></div>
<!--			<div class="pingjia_more">-->
<a href="<?php /*echo  $goods['jump'] */?>" target="_blank">更 多</a>
<!--			</div>-->
<!--		</div>-->
<!--	</DIV>-->
<!--	</div>-->
<!--	</div>-->
<!--	</div>-->
<!--	</div>-->
<div class="clear"></div>