<style type="text/css">
.cashback .shopDetails { padding: 5px; }
.cashback .name { font-size: 16px; margin: 10px 0 0 5px; height: 30px; line-height: 30px; }
.cashback .itemDetails .name { border-bottom: #DDDDDD solid 1px; }
.cashback .shoplogo-img, .cashback .shoplogo-font { float:left; margin: 20px; }
.cashback .shoplogo-img img { vertical-align: middle; }
.cashback .price, .cashback .price.dd_fxje, #shopDiscountPercent { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px; font-style: italic; color: #FF3300; font-weight: bold; margin: 2px 0 0 0; padding: 0; }
.cashback .price, .cashback .price.dd_fxje { font-size: 20px; }
.cashback .shoptxt p { line-height: 22px; }
.cashback .shoptxt b { line-height: 34px; }
.cashback ._5bx { width: 100px; background: url({$pluginpath}Image/5bx.gif) no-repeat 0px 0px; height: 19px; margin: 0 auto; }
.cashback ._5hx { width: 100px; background: url({$pluginpath}Image/5hx.gif) 0px 0px; height: 19px; }
.cashback .item_main { margin-left: 320px !important; margin-top: 10px; }
.cashback .item_main .txtwraper { width: 420px; margin: 0 auto; }
.cashback .item_main .itemtxt { width: 100%; }
.cashback .item_main .itemlogo { margin-left: -320px !important; width: 320px; padding-left: 15px; box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; float: left; overflow: hidden; }
.cashback .itemlogo img { vertical-align: middle; }
.cashback .itemlogo a { display: block; }
.cashback .shopitem_main_r_3 { line-height: 30px; margin: 0 0 0 15px; }
.cashback .tbcuxiao i { color: #FFFFFF; background: #FF6600; padding: 1px; padding-top: 2px; padding-left: 2px; font-style: normal }
.cashback .tbcuxiao b { font-size: 16px; color: #FF3300; font-family: "Times New Roman", Times, serif; }
.cashback .shopitem_main_r_3 img { border: 0; vertical-align: middle; }
.cashback .shopitem_main_r_3 Ul { }
.cashback .shopitem_main_r_3 li { float: left; width: 100px; }
.cashback .shopitem_main_r_3 li a { float: left; }
.cashback .shopitem_main_r_4 { margin: 10px 0 0 15px; }
.cashback .shopitem_main_r_4 img { border: 0; margin: 0 10px 0 0; display: inline; }
.cashback .shopitem_main_r_5 { height: 29px; line-height: 29px; margin: 0 0 0 15px; }
.cashback .shopitem_main_r_5 span { font-weight: bold; color: #0033FF; }
.cashback .shopitem_main_r_6 { margin: 10px 0 0 15px; }
.cashback .shopitem_main_r_6 p { float: left; height: 20px; line-height: 20px; }
</style>
<script src="{$pluginpath}JavaScript/base64.js"></script>
<div class="cashback ct2 cl"><!--主容器-->
<div class="sd"><!--边栏-->
	<div class="shopDetails">
		<div class="name">
			<h3><a class="dd_shop_jump" href="http://shop{$shop->sid}.taobao.com" target="_blank"><!--{$shop->title}--></a></h3>
		</div>
		<div class="shoplogo cl">
			<div class="shoplogo-img">
				<img src="http://logo.taobaocdn.com/shop-logo{$shop->pic_path}" width="80" height="80" alt="{$shop->title}" onerror="this.src='images/tbdp.gif'" class="">
			</div>
			<div class="shoplogo-font">
				<p>平均:</p>
				<h3 id="shopDiscountPercent">0.56%</h3>
			</div>
		</div>

		<div class="shoptxt">
			<p>掌柜名称：<a class="dd_shop_jump" href="http://shop{$shop->sid}.taobao.com" target="_blank"><!--{$shop->nick}--></a></p>
			<p>店铺信誉：<span class="shoptxt-img"><img style="vertical-align: middle;" src=""></span></p>
			<p id="goodsnum">宝贝数量：</p>
			<p>创店时间：<!--{echo date('Y-m-d',strtotime($shop->created))}--></p>
			<b>店铺动态评分</b>
			<div class="shoptxt-dt cl">
				<div class="title">宝贝与描述相符：</div>
				<div class="xx3 cl"><div class="_5bx" title="{echo $shop->shop_score->item_score}分"><div class="_5hx" style="width:{echo $shop->shop_score->item_score*20}px"></div></div></div>
			</div>
			<div class="shoptxt-dt cl">
				<div class="title">卖家的服务态度：</div>
				<div class="xx3 cl"><div class="_5bx" title="{echo $shop->shop_score->service_score}分"><div class="_5hx" style="width:{echo $shop->shop_score->service_score*20}px"></div></div></div>
			</div>
			<div class="shoptxt-dt cl">
				<div class="title">卖家发货的速度：</div>
				<div class="xx3 cl"><div class="_5bx" title="{echo $shop->shop_score->delivery_score}分"><div class="_5hx" style="width:{echo $shop->shop_score->delivery_score*20}px"></div></div></div>
			</div>
			<div class="shopbutton">
				<a class="dd_shop_jump" href="http://shop{$shop->sid}.taobao.com" target="_blank">
					<div class="shop_button1" onmouseover="this.className='shop_button1_h';" onmouseout="this.className='shop_button1';"></div>
				</a>
			</div>
		</div>
	</div>
</div><!--边栏-->
<div class="mn"><!--主区域-->
<div class="itemDetails cl">
	<div class="name">
		<h3>
			<!--{$goods->title}-->
			<!--{if $_C['api_taobaoke_base']}-->&nbsp;&nbsp;
			<span style="font-size:12px; font-family:'宋体'">【<a style="color:#F60;" href="<?php //u('tao', 'list', array('cid' => 0, 'q' => $goods['title'])) ?>" target="_blank">查看同款商品</a>】</span>
			<!--{/if}-->
		</h3>
	</div>
	<div class="item_main cl">
		<div class="itemlogo">
			<a class="clickUrl"
			{echo tao_perfect_click($goods->jump) }
			href="{echo !$_C['api_taobaoke_base'] ? $goods->detail_url : $goods->jump }"
			target="_blank"><img src="{$goods->pic_url}" alt="{$goods->title}"
								 onerror="this.src='http://tryanderror.cn/duoduo/images/dian.png'" class="" style="height: 310px;"></a>
		</div>
		<div class="itemtxt">
			<div class="txtwraper">
			<div class="shopitem_main_r_1"><img src="{$pluginpath}Image/protection.gif"></div>
			<div class="shopitem_main_r_3"><span
					id="price_name" style="font-family:'宋体'"><span class="pricename"><i><!--{$price_name}--></i></span></span>：
				<span class="price"><!--{$goods->price}--></span> 元
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span id="yuanjia" style="display: none;">原价：<span style="text-decoration:line-through"><!--{$goods->price}--></span> 元</span>
			</div>
			<div class="shopitem_main_r_3">
	<span id="zuigaofan" title="<?= TBFLTIP ?>">最高返：
	</span><span id="nofan"><span class="price dd_fxje"><img src="{$pluginpath}Image/wait3.gif" alt="集分宝计算中"/></span>个集分宝
	<span id="ksq">（可省<b style="font-size:16px; color:#F30"><img src="{$pluginpath}Image/wait3.gif" alt="省钱计算中"/></b>元）</span></span>
			</div>
			<!--{if $tao_coupon_str == ''}-->
			<div class="shopitem_main_r_3">商品数量： <!--{$goods->num}--> 件</div>
			<!--{else}-->
			<!--{$tao_coupon_str}-->
			<!--{/if}-->
			<div class="shopitem_main_r_3">运费承担： <!--{echo $goods->freight_payer}--></div>
			<div class="shopitem_main_r_3">
				所在地区： <!--{echo $goods->location->state}--> <!--{echo $goods->location->city}-->
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新旧程度： <!--{$goods->stuff_status}--><!--{if $goods->has_invoice}--> 有发票<!--{/if}-->
			</div>
			<div class="shopitem_main_r_3">掌柜名称： <!--{$goods->nick}--> <!--{echo wangwang($goods->nick)}--></div>
			<div class="shopitem_main_r_5">温馨提示：<span> 虚拟商品(如话费，游戏，机票等)无返利哦！</span> </div>
			<div class="shopitem_main_r_4">
				<a {echo tao_perfect_click($goods->jump)}
				class="fanlitip clickUrl" id="clickUrl" href="{echo !$_C['api_taobaoke_base'] ? $goods->detail_url : $goods->jump}"
				target="_blank"><img alt="立刻去购买" src="{$pluginpath}Image/buy.gif"/></a><a
					class="dd_shop_jump" style="cursor:pointer" target="_blank"><img alt="逛逛掌柜店铺" src="{$pluginpath}Image/seller.gif"/></a>
			</div>
			<div class="shopitem_main_r_6"><p>宝贝分享：</p>
				<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone">QQ</a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog">新浪</a>
					<a title="分享到人人网" class="bshare-renren">人人</a>
					<a title="分享到腾讯微博" class="bshare-qqmb">腾讯</a>
					<a title="更多平台" class="bshare-more bshare-more-icon"></a><span class="BSHARE_COUNT bshare-share-count">0</span>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid={$bshare_uuid}&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
			</div>
		</div>
	</div>
	<div class="shopit_txt" id="shopit_txt">
		<ul>
			<!--{if $_C['page_description']}-->
			<li><a do='desc'>宝贝描述</a></li>
			<!--{/if}-->
			<!--{if $_C['goods_comment']}-->
			<li class="shopit_xz"><a id="pjan" do="comment" url="">商品评价</a></li>
			<!--{/if}-->
		</ul>
		<div class="shopit_txt_ms" style="display:none"><!--{$goods->desc}--></div>
	</div>
	<div class="goodscomment" style=" display:none">
		<div class="pjdf">
			<div class="pjleft">
				<ul>
					<li class="pjfs">店铺的“宝贝与描述相符”得分</li>
					<li class="pjfs2 cl">
						<div style="float:left">
							<font class="ajaxpjdf" style="font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FF6600">5.0</font> 分
						</div>
						<div style="float:left">
							<div class="xx3" style="padding-top:5px">
								<div class="bg5bx">
									<div class="ov5hx" style="width: 100px;"></div>
								</div>
							</div>
						</div>
					</li>
					<li class="gdf">(共打分 <font id="pjdfnum" color="#FF6600">100</font> 次)</li>
				</ul>
			</div>
			<div class="pjright">
				<ul>
					<li style="width:380px; height:20px; margin-top:21px;"><div id="biaochi" style="width:28px; height:21px; background:url({$pluginpath}Image/pjfs.gif); margin-left:370px; text-align:center;"><font class="ajaxpjdf" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff">4.5</font></div></li>
					<li style="background:url({$pluginpath}Image/rate_scroller_bar.png) no-repeat; width:400px; height:20px;"></li>
					<li style=" width:420px; background:url({$pluginpath}Image/pjfssm.gif) no-repeat; height:45px;"></li>
				</ul>
			</div>
		</div>
		<div class="pingjia">
			<div class="pingjia_bt">
				<div class="pingjia_bt_l">评论</div>
				<div class="pingjia_bt_r">评价人</div>
			</div>
			<div id="comment"></div>
			<div class="pingjia_more">
				<a href="<?php// $goods['jump'] ?>" target="_blank">更 多</a>
			</div>
		</div>
</div>
</div>
</div><!--主区域-->
</div><!--主容器-->

<!--{eval $LAB = '$LAB';}-->
<script type="text/javascript">

function showShopInfo(){
	{eval $parame['seller_nicks']=$nick;
		php2js_array($jssdk_shops_convert,'parame');}
	taobaoTaobaokeWidgetShopsConvert(parame);
}
var commentUrl='';
function ddShowShopInfo(shopsInfo){
	if(shopsInfo['level']>0){
		jQuery('.shopDetails #shopDiscountPercent').html(shopsInfo['fxbl']+'%');
		jQuery('.shopDetails .shoptxt-img img').attr('src','{$pluginpath}Image/level/level_'+shopsInfo['level']+'.gif');
		jQuery('.shopDetails #goodsnum').html('宝贝数量：'+shopsInfo['auction_count']);
		/*{if $_C['api_taobaoke_base']}*/
		jQuery('.dd_shop_jump').attr('href',shopsInfo['jump']);
		/*{else}*/
		jQuery('.dd_shop_jump').attr('href','http://shop'+shopsInfo['sid']+'.taobao.com');
		/*{/if}*/
		/*
		 mod tao act shop
		 var str;
		 var goodsUrl='<?=SITEURL?>/index.php?mod=ajax&act=shop_items_get&uid='+shopsInfo['user_id']+'&nick='+encodeURIComponent(shopsInfo['seller_nick'])+'&taoke='+shopsInfo['taoke']+'&level='+shopsInfo['level'];
		 $.ajax({
		 url: goodsUrl,
		 dataType:'jsonp',
		 jsonp:"callback",
		 cache:false,
		 success: function(data){
		 if(isEmpty(data)){
		 tpl='暂无商品';
		 }
		 else{
		 tpl=getTplObj(html_tpl_<?=$list?>,data);
		 }
		 $('#splistbox ul').append(tpl);
		 }
		 });
		 */

		/*
		 mod tao act view
		 commentUrl='<?=$comment_url?>'+shopsInfo['user_id'];
		 */

	}
}
function ddShowFxje(taobaokeItem) {
	var ddFxje = taobaokeItem.ddFxje;
	var clickUrlAttr = '{echo $_C["api_taobaoke_base"]? "href":"a_jump_click"}';
	var promotion_price = taobaokeItem.promotion_price;
	var good_price = {$goods->price};
	if(promotion_price <good_price && promotion_price > 0) {
		jQuery('.itemtxt .shopitem_main_r_3 #price_name').html('<span class="tbcuxiao"><i>{$promotion_name}</i></span>');
		jQuery('.itemtxt .shopitem_main_r_3>.price').html(promotion_price);
		jQuery('.itemtxt .shopitem_main_r_3 #yuanjia').show();
		jQuery('.itemtxt .shopitem_main_r_3 #zuigaofan').html('折后最高返：');
		var reg = new RegExp("&price=(.*)&name", "gi");
		var url = '{$goods->jump}';
		url = url.replace(reg, '&price=' + promotion_price + '&name');
		jQuery('.clickUrl').each(function() {
			jQuery(this).attr(clickUrlAttr, url);
		});
	}
	if(ddFxje > 0) {
		var clickUrl = jQuery('#clickUrl').attr(clickUrlAttr) + '&fan=';
		jQuery(".itemtxt .shopitem_main_r_3 .dd_fxje").html(ddFxje);
		jQuery(".itemtxt .shopitem_main_r_3 #ksq b").html(dataType(ddFxje / {echo 'MONEYBL'}, 2));
		jQuery('.clickUrl').each(function() {
			jQuery(this).attr(clickUrlAttr, clickUrl + ddFxje);
		});
		jQuery('.shopitem .goodscomment .pingjia .pingjia_more a').attr('href', clickUrl + ddFxje);
	} else {
		jQuery(".itemtxt .shopitem_main_r_3 #nofan").css('font-size', '14px').css('color', 'red').html('<b>该商品暂无返利</b>');
	}
	jQuery('#shopit_txt .shopit_txt_ms').show();
	showShopInfo();
}
</script>
<script type="text/javascript">
/*
 if(IE == 1) {
 $("#jssdk").attr('src', 'http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21165987');
 }
 else {
 var script = document.createElement("script");
 script.src = 'http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=21165987';
 var tag = $("head").append(script);
 }

 var hostName = window.location.host;

 function no_pay() {
 //alert('您的网站没有授权'+hostName);
 //window.location='http://auth.duoduo123.com';
 }

 $.ajax({
 url: 'http://auth.duoduo123.com/check.php',
 dataType: 'jsonp',
 jsonp: "callback",
 data: {domain: hostName},
 success: function(data) {
 if(data.s == 0) {
 no_pay();
 JSSDK_TIME = '1375178467000';
 JSSDK_SIGN = '8D63E67441FD63DBD38B32F43CA0F161';
 if(typeof(ddJssdkCallBack) == "function") {
 ddJssdkCallBack();
 }
 }
 else {
 JSSDK_TIME = '1375178467000';
 JSSDK_SIGN = '8D63E67441FD63DBD38B32F43CA0F161';
 if(typeof(ddJssdkCallBack) == "function") {
 ddJssdkCallBack();
 }
 }
 }
 });*/
GETAGAINTIME = 3000; //二次加载时间

MONEYBL = 100;
DATA_TYPE = 1;

CACHEURL = 'http://tryanderror.cn/duoduo/data/temp/taoapi';
SHOPOPEN = 1;
SHOPSLEVEL = 11;
SHOPELEVEL = 20;
CACHETIME = 0;
ERRORLOG = 0;
CHECKCODE = '8893pV%2FRTMHq0zDbPImT7dwVr3Z%2F1wPFYoWSChtDamn60pfZICFc';

fxblArr = new Object();
fxblArr['100a'] = '0.8';
fxblArr['50a'] = '0.7';
fxblArr['20a'] = '0.6';
fxblArr['0a'] = '0.5';

var ddJssdkCallBackOk = 0;
function ddJssdkCallBack() {
	if(ddJssdkCallBackOk == 0) {
		ddJssdkCallBackOk = 1;
		/*{if in_array($jssdk_items_convert['cid'],$virtual_cid['goods'])}*/ //虚拟商品返利强制为0
		ddShowFxje(0);
		/*{else}*/
		$LAB.script(url).wait(function(){
			{eval php2js_array($jssdk_items_convert,'parame')}
			taobaoTaobaokeWidgetItemsConvert(parame);
		});
		/*{/if}*/
		/*{if !$_C["api_taobaoke_base"]}*/
		clearInterval(checkKeyIntervalId);
	} else {
		clearInterval(checkKeyIntervalId);
		/*{/if}*/
	}
}
/*{if !$_C["api_taobaoke_base"]}*/
checkKeyTime = 0;
function checkKey() {
	if(checkKeyTime == 30) {
		clearInterval(checkKeyIntervalId);
	} else {
		checkKeyTime++;
		if(typeof JSSDK_SIGN != 'undefined') {
			ddJssdkCallBack();
		}
	}
}
var checkKeyIntervalId = setInterval("checkKey()", 500);
/*{else}*/
ddJssdkCallBack();
/*{/if}*/
//$(".shopright .shopitem_main_l").imgAutoSize(310, 310);
function suanfanli(v) {
	f = fan * v / price;
	jQuery('#jumpbox .text_f').text(dataType(f, 1));
}
var TAO_TYPE = 1;
$LAB.script('plugin.php?id=dps_xtao:getkeysign');
</script>
<!--
<script type="text/javascript">
/*
	$(function() {
		//{if !$_C["api_taobaoke_base"]}
		$('.shopright .shopitem_main_r .fanlitip').jumpBox({
			title: '这是您刚刚查看的商品：',
			titlebg: 1,
			LightBox: 'show',
			easyClose: 0,
			jsCode: "param2=parse_str(ajaxUrl);pic_url=decode64(param2['pic']);title='{$goods->title}';if(typeof param2['promotion_price']!='undefined'){price=param2['promotion_price']}else{price=param2['price']};fan=param2['fan'];contain = contain.replace(/{pic_url}/, pic_url).replace(/{title}/, title).replace(/{price}/, price).replace(/{back}/, fan);",
			contain: '<div class="alert_go_tao"><div class="info"><table width=""border="0"><tr><td width="62"rowspan="3"><div class="pic"><img src="{pic_url}"/></div></td><td width="219"><span class="tit">{title}</span></td></tr><tr><td><span class="price">淘宝价格：{price}元</span><span class="fan">　返：{back}<?=TBMONEY?></span></td></tr><tr><td><span class="price_r">实付价格：</span><input type="text"class="text_p"value=""  onkeyup="suanfanli(this.value)"/><span class="fan_r">实返：</span><span class="text_f">？</span></td></tr></table><div style="clear:both"></div><div class="alert_notice"><em></em><div class="notice_content">输入最终购买价格(不含邮费)，算一下最终返<?=TBMONEY?>有多少？</div></div></div><p><span>●</span><a>虚拟商品无返利</a><span>●</span><a>实际返利与成交价有关</a><span>●</span><a>确认收货后才能查询返利</a></p><div style=" margin-top:3px"><a href="<?php /*u('help','index')*/?>' +
					'" style="color:#03F" target="_blank">●用“<?=WEBNICK?>”去“淘宝网”购物 省钱方法详解【点击】</a></div></div>',
			height: 240,
			width: 520,
			a: 1
		});
		//{/if}
		//{if isset($webset['taoapi']['goods_comment'])}
		$('#shopit_txt a').click(function() {
			$('#shopit_txt ul li').addClass('shopit_xz');
			$(this).parent('li').removeClass('shopit_xz');
			vdo = $(this).attr('do');
			if(vdo == 'desc') {
				$('#shopit_txt .shopit_txt_ms').show();
				$('.goodscomment').hide();
				return true;
			}
			else if(vdo == 'comment') {
				$('#shopit_txt .shopit_txt_ms').hide();
				$('.goodscomment').show();
			}
			if(commentUrl == '') {
				alert('评论地址加载中，请稍后再试');
				return true;
			}
			$.ajax({
				url: '<?=u('ajax','goods_comment')?>',
				data: {'comment_url': commentUrl},
				dataType: 'jsonp',
				jsonp: "callback",
				success: function(data) {
					if(data.rateListInfo.paginator.items > 0) {
						var commentScore = parseFloat(data.scoreInfo.merchandisScore);  //评价得分
						var commentItems = parseInt(data.rateListInfo.paginator.items);  //评价数量
						var commentTotal = parseInt(data.scoreInfo.merchandisTotal);  //评价总次数
						num = commentScore * 10;
						x2 = Math.floor(num % 10);
						num /= 10;
						x1 = Math.floor(num % 10);
						$('.pingjianum').html(commentItems);
						$('#pjdfnum').html(commentTotal);
						$('.ajaxpjdf').html(commentScore);
						var biaochi = parseInt(commentScore / 5 * 380);
						$('#biaochi').css('margin-left', biaochi + 'px');
						$('#getpling').hide();
						$('#plcontent').show();
						$('.goodscomment .ov5hx').css('width', commentScore * 20)
						jsonData = data.rateListInfo.rateList;
						c = jsonData.length;
						for(var i = 0; i < c; i++) {
							if(jsonData[i]['displayRatePic'] == '') jsonData[i]['displayRatePic'] = 'b_red_1.gif';
							jsonLi = '<li><div class="commnetleft">' + jsonData[i]['rateContent'] + '<br><span>[' + jsonData[i]['rateDate'] + ']</span></div><div class="commnetright">买家：' + jsonData[i]['displayUserNick'] + '<br><img src="images/' + jsonData[i]['displayRatePic'] + '" /></div></li>';
							$('#comment').append(jsonLi + '<div style="clear:both"></div>');
						}
					}
					else {
						alert('评论加载失败');
					}
				}
			});
		});
		//{/if}
	});*/
</script>-->
