<!--{template common/header}-->

<link rel="stylesheet" type="text/css" href="{PLUGIN_DIR}/CSS/normal.css"/>
<script src="{PLUGIN_DIR}/JavaScript/shop.js"></script>
<script src="{PLUGIN_DIR}/JavaScript/base64.js"></script>
<script type="text/javascript" src="{PLUGIN_DIR}/JavaScript/show.js"></script>

<!--{template dps_xtao:header}-->

<div id="mtsw_show" class="cl">
	<div class="mtsw_con">
		<ul id="waterfall" class="waterfall cl">
			<li class="li_tag" style="float: left; overflow: hidden;">
				<div class="li_tag_con cl" style="width: 220px;">
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=commissionNum_desc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:commissionNum_desc}</a>
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=credit_desc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:credit_desc}</a>
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=price_asc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:price_asc}</a>
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=price_desc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:price_desc}</a>
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=commissionVolume_desc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:commissionVolume_desc}</a>
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=delistTime_desc&keyword={$keywordencode}"
					   target="_self">{lang dps_xtao:delistTime_desc}</a>
				</div>
			</li>
			<li class="li_tag" style="overflow: hidden;">
				<div class="li_tag_con cl" style="width: 700px;">
					<!--{loop $keywords $k $item}-->
					<a href="plugin.php?id=dps_xtao:tb_goods_search&sort=commissionNum_desc&keyword={$item[1]}"
					   target="_self"><b>$item[0]</b></a>
					<!--{/loop}-->
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="mtsw_show" class="cl">
	<div class="mtsw_con">
		<ul id="waterfall" class="waterfall cl">

			<!--得到商品明细-->
			<!--{loop $items $item}-->
			<li class="wf_li" style="width: 240px; float: left; overflow: hidden; padding: 0px 0px 10px 0px">
				<div class="wf_main">
					<div class="wf_pic" id="div$item[num_iid]" onmouseover="showDiv('subDiv$item[num_iid]')"
						 onmouseout="hiddenDiv('subDiv$item[num_iid]')">
						<div class="mshare" id="subDiv$item[num_iid]" style="display: none;">
							<div class="collbtn">
								<a href="javascript:;" id="k_favorite"
								   onclick="addFavorite(window.location.host + '/' + 'plugin.php?id=dps_xtao:tb_goods_detail&amp;iid={$item[num_iid]}','{$item[title]}-{$_G[setting][bbname]}');">{lang dps_xtao:favorite}
									<sup><span id="favoritenumber">$item[commission_num]</span></sup>
								</a>

								<div class="bkmask"></div>
							</div>
						</div>
						<div class="wf_info_left"><span
								style="cursor: pointer">$item[discount]{lang dps_xtao:discount}</span></div>
						<div class="wf_info"><span
								title="$item[title] {lang dps_xtao:commission_num}$item[commission_num]{lang dps_xtao:jian}"
								onclick="zoom(this, this.getAttribute('zoomfile'), 0, 0, '0')"
								style="cursor: pointer">{lang dps_xtao:commission_num}$item[volume]{lang dps_xtao:jian}</span>
						</div>
						<a href="plugin.php?id=dps_xtao:tb_goods_detail&iid={$item[num_iid]}"
						   onclick="clickurl('$item[click_url]'); return false;"><img src='$item[pic_url]'
																					  alt='$item[title]'
																					  title='$item[title]'
																					  style='width:220px;'/></a>
					</div>

					<!--标题+喜欢-->
					<div class="wf_title">
						<dl class="cl">
							<dd class="dd1"><a href="plugin.php?id=dps_xtao:tb_goods_detail&iid={$item[num_iid]}"
											   onclick="clickurl('$item[click_url]'); return false;"
											   target="_blank">$item[title]</a></dd>
							<dd class="dd2">
								<a href="plugin.php?id=dps_xtao:tb_goods_detail&iid={$item[num_iid]}" target="_blank"
								   class="pt_up"><i></i>
									<span id="recommendv_add_$item[num_iid]">{lang dps_xtao:product_area}$item[item_location]</span></a>
							</dd>
							<dd class="dd3"></dd>
					</div>

					<!--店主信息-->
					<div class="wf_author">
						<dl>
							<dt>
								<a href="#" onclick="clickurl('$item[shop_click_url]'); return false;">
									<img src="{PLUGIN_DIR}/Image/dian.gif" align="absmiddle"
										 title="{$item[nick]}"/></a>
							</dt>
							<dd>
								<a href="home.php?uid=$thread[authorid]"
								   target="_blank">$thread[author]</a> {lang dps_xtao:fakeprice}$item[fakeprice]{lang dps_xtao:yuan}

								<br/>
								{lang dps_xtao:price}$item[price]{lang dps_xtao:yuan}

							</dd>
						</dl>
					</div>
				</div>
				<div class="wf_shadow"></div>
			</li>
			<!--{/loop}-->
		</ul>
	</div>

	<!--搜索及分页-->
	<div style="width: 100%; margin: 0 auto; overflow: auto; _display: inline-block;">
		<div style="width: 230px; float: left;">{template dps_xtao:tbsearch}</div>
		<div style="margin-left: 160px;">$multi</div>
	</div>

	<div class="clear"></div>


</div>


<!--{template dps_xtao:footer}-->
<!--{template common/footer}-->

