<style>
	<!--
	DIV.digg {
		PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
	}

	DIV.digg A {
		BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #000099; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none
	}

	DIV.digg A:hover {
		BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid
	}

	DIV.digg A:active {
		BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid
	}

	DIV.digg SPAN.current {
		BORDER-RIGHT: #000099 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000099 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000099 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #000099
	}

	DIV.digg SPAN.disabled {
		BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
	}

	td, th { border: 1px solid #ccc }

	.pic { height: 80px; width: 80px }

	-->
</style>

<script type="text/javascript">
	function selectAll(obj) {
		var allcheck = document.getElementsByName("id[]");

		for(var i = 0; i < allcheck.length; i++) {
			allcheck[i].checked = obj.checked;
		}
	}

	function selectReverse(obj) {
		var allcheck = document.getElementsByName("id[]");

		for(var i = 0; i < allcheck.length; i++) {
			if(allcheck[i].checked) {
				allcheck[i].checked = '';
			}
			else {
				allcheck[i].checked = 'checked';
			}
		}
	}

	function check() {
		var count = 0;
		var allcheck = document.getElementsByName("id[]");

		for(var i = 0; i < allcheck.length; i++) {
			if(allcheck[i].checked) {
				count++;
			}
		}
		if(count == 0) {
			alert("至少选择一个商品");
			return false;
		}
		return confirm('确认要删除吗？');
	}

</script>


<form method="post">

	查看栏目<select name="fid" id="fid">
	<option value="-1">请选择</option>
	<!--{if $type == 0}-->
	<!--{loop $forumscat $forum}-->
	<!--{if $forum['fid'] == $fid}-->
	<option value="$forum['fid']" selected="selected">$forum['name']</option>
	<!--{else}-->
	<option value="$forum['fid']">$forum['name']</option>
	<!-- {/if} -->
	<!--{/loop}-->
	<!--{elseif $type == 1 }-->
	<!--{loop $portalcat $cat}-->
	<!--{if $cat['catid'] == $fid}-->
	<option value="$cat['catid']" selected="selected">$cat['catname']</option>
	<!--{else}-->
	<option value="$cat['catid']">$cat['catname']</option>
	<!-- {/if} -->
	<!--{/loop}-->
	<!-- {/if} -->
</select>

	&nbsp; &nbsp; &nbsp;&nbsp;
	<input type="submit" value="确定"/>
</form>
<br/>

<hr>
<!--{if $totalcount > 0}-->
<span style="float:right">总共有 $totalcount 个结果</span>
<form action="admin.php?action=plugins&operation=config&do=11&identifier=tkb&pmod=delete" method="post" name="itemsform"
	  onsubmit="return check();">


	<input type="submit" value="删除本页选中商品"/> &nbsp; &nbsp; &nbsp;&nbsp;

	<input type="button" value="删除全站淘宝商品"
		   onclick="if(confirm('确认要删除全站所有商品吗？'))location.href='admin.php?action=plugins&operation=config&do=11&identifier=tkb&pmod=deleteall'"/>

	<br/>

	<table>
		<tr>
			<th width="70">
				<input type="checkbox" onclick="selectAll(this);"/>全选<br/>
				<input type="checkbox" onclick="selectReverse(this);"/>反选
			</th>
			<th align="left">商品推广信息</th>
			<th width="75" align="right" style="text-align:center"><span class="list-sort " cat="bid">单价<i
					class="arrow-up"></i><i class="arrow-down"></i></span></th>
			<th width="75" align="right" style="text-align:center"><span class="list-sort " cat="commrate">佣金比率<i
					class="arrow-up"></i><i class="arrow-down"></i></span></th>
			<th width="75" align="right" style="text-align:center">佣金</th>
			<th width="75" align="right" style="text-align:center"><span class="list-sort " cat="totalnum">30天推广量<i
					class="arrow-up"></i><i class="arrow-down"></i></span></th>
			<th width="90" align="right" style="text-align:center"><span class="list-sort " cat="totalfee">30天支出佣金<i
					class="arrow-up"></i><i class="arrow-down"></i></span></th>

		</tr>
		<!--{loop $items $item}-->
		<tr class="">
			<td>
				<input type="checkbox" name="id[]" value="$item['id']"/>
			</td>
			<td align="left">
				<div class="list-info">
					<a href="http://item.taobao.com:80/item.htm?id=$item['num_iid']" class="pic" target="_blank"
					   lzlinkno="87"><img src="$item['pic_url']" width="80px" height="80px"></a>
					<a href="http://item.taobao.com:80/item.htm?id=$item['num_iid']" target="_blank" lzlinkno="88">$item['title']</a>
				</div>
			</td>
			<td align="right">$item['price'] 元</td>
			<td align="right">$item['commission_rate'] %</td>
			<td align="right"><span class="ok">$item['commission'] 元</span></td>
			<td align="right">$item['commission_num'] 件</td>
			<td align="right">$item['commission_volume'] 元</td>

		</tr>

		<!--{/loop}-->

	</table>

	<input type="hidden" name="back_url" value="$back_url"/>
	<input type="hidden" name="type" value="$type"/>

</form>

<!--{else}-->

<!--{/if}-->