<!--{block return}-->
<style>
	<!--
	.goods-3 { float: left; width: 210px; height: 315px; margin: 0 22px 22px 0; padding: 10px; color: #999; background-color: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, .1); _display: inline }

	.goods-pic-2 { overflow: hidden; position: relative; width: 210px; height: 210px }

	.goods-stat-2 { overflow: hidden; height: 20px; line-height: 20px; padding-top: 10px; padding-bottom: 10px }

	ol, ul {
		list-style: none outside none;
	}

	-->
</style>

<div class="goods-3">
	<div class="goods-pic-2">
		<a onclick="clickurl('aHR0cDovL3MuY2xpY2sudGFvYmFvLmNvbS90P2U9ekdVMzRDQTdLJTJCUGtxQjA3UzQlMkZLMENJVHk3a2x4biUyRjdidm4wYXkxRUQ1aHgwQ2tjTkc5bjAlMkY5aWl6V2pmd3lOWjNiTW40ZDYxTkZxTyUyRlA5WSUyRjNpeTElMkI1VTdYRUZ5bU9sTnVIWE15aWw5aFRHeGFIVW93ZnBYdTlpSFhpTG5EOURZcEtMQmMxY1B1b0x1RGNzN2tYaE40Y3ozYkhaZlFVNjM0VE12NUdVa1FhZXMyeGZaZmJ1aG00SzkzNFd3JTNEJTNEJnVuaWQ9dGFvamlhcGFpJnNwbT0yMDE0LjIxMjg0MjY1LjEuMA==', ''); return false;"
		   target="_blank" href="javascript:void(0)">
			<img height="210px"
				 src="http://img03.taobaocdn.com/bao/uploaded/i3/T1.9fEXfNbXXc2eCw4_053828.jpg_210x210.jpg">
		</a>
	</div>
	<div class="goods-stat-2">
		<span class="like-num-2">喜欢: <em class="like-count">457</em></span>
		<span class="comm-num-3">价格: 55.00</span>
	</div>
	<ul class="comments-1">
		<li>星巴克<span class="H">杯</span>子 正品限量黑色亚光<span class="H">马克</span><span class="H">杯</span> 创意陶瓷留言<span
				class="H">杯</span> 咖啡<span class="H">杯</span> 水<span class="H">杯</span></li>
	</ul>
</div>
<!--{/block}-->